* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: grid;
  grid-template-rows: 50px 250px;
  grid-template-columns: 150px 1fr 1fr;
  grid-template-areas:
  "side top top top"
  "side mid mid mid"
  "side midl midl mdl"
  "side low low low";
}

/*This section designs the left nav bar*/


.left-nav {
  background-color: rgb(55, 64, 80);
  display: flex;
  grid-area: side;
  color: #a4aab0;
  display: grid;
  grid-template-rows: 1fr 2fr 2fr 4fr;
  font-size: 10px
}

.circle1 {
  display: flex;
  /*justify-content: center;*/
  flex-direction: column;
  align-items: center;
}

.circle-image {
  border-radius: 50%;
  margin-top: 10px;
  width: 80px;
}

.links{
  display: flex;
  flex-direction: column;
  border-top: 3px solid #2E3A49;
}

.svg-left-nav {
  padding-left: 3px;
  padding-right: 10px;
  font-size: 12px;
}

.nav-link-text {
  font-size: 12px
}

.check-box {

}

.nav-link-text:hover {
  background-color: #2E3A49;
  color: white;
  border-left: 6px solid #17b8f8;
}

/* This section styles top nav*/
.top-nav {
  display: grid;
  grid-template-columns: 50px 1fr 50px 50px 50px;
  background-color: white;
  grid-area: top;
  flex-direction: row;
  grid-template-areas: 
  "svgone search svgtwo svgthree svgfour"
}

.nav-top-input {
  grid-area: search;
  font-size: 30px;
  border:  1px solid rgb(238, 242, 246);
}

.svg-img {
  font-size: 15px;
  padding: 18px;
  padding-bottom: 0px;
  border:  1px solid rgb(238, 242, 246);
}


.nav-svg1:hover,
.nav-svg2:hover,
.nav-svg3:hover,
.nav-svg4:hover {
  background-color: rgb(70, 164, 243);
  color: white;
}

.nav-svg1{
  grid-area: svgone;
}

.nav-svg2{
  grid-area: svgtwo;
}

.nav-svg3{
  grid-area: svgthree;
}


.nav-svg4{
  grid-area: svgfour;
}

/*under the nav bar*/

.all-bottom {
  background-color: rgb(239, 242, 246);
  grid-area: midl;
}

.csr-holder {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: #a4aab0;
}

.csr:hover {
  color: black;
  border-bottom: 3px solid #17b8f8;
}

header {
  background-color: white;
  grid-area: mid;
  display: grid;
  grid-template-rows: 1fr 45px; 
  grid-template-areas: 
  "top-head"
  "bottom-head";
}

.open-bottun {
  width: 200px;
}

.circ {
  font-size: 14px;
  color: rgb(149, 220, 44);
}

.svg-header {
  border: 1px solid #a4aab0;
  border-radius: 25px;
  padding: 10px;
  margin-right: 20px;
  color: #a4aab0;
}

.hire-lead {
  height: 1px;
}

.bottoms {
  grid-area: low;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
}

.morty{
  border-radius: 50%;
  width: 33px;
}

.mort-text {
  display: flex;
  align-items: center;
  margin: -1px;
}

.preview {
  color: rgb(104, 216, 239);
}

.header-section{
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.right-header-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.grids-charts {
  background-color: rgb(238, 242, 246);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  "leftone rightone"
  "leftone rightone";
  /* display: flex;*/
}
.charts {
  grid-area: rightone;
  margin-bottom: 100px;
}

.charts1 {
  width: 97%;
}

.bottom-half-left {
  background-color: rgb(238, 242, 246);
  /*grid-area: low;*/
}


.bottom-half-right {
  background-color: rgb(238, 242, 246);
  /*grid-area: lowr;*/
}

.whole-table {
  background-color: white;
  width: 80%;
  height: 80%;
  border-collapse: collapse;
  margin-left: 10%;
  font-size: .5rem;
  color: rgb(113, 126, 147);
}

.head-table {
  background-color: rgb(113, 126, 147);
}

.title-table {
  color: white;
}

td {
  border-bottom: 1px solid rgb(113, 126, 147);

}

/*Bottom right stuff*/
.post-options {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.posts {  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 40px;
  margin-bottom: : 10px;
}


.facebook-post {
  background-color: rgb(80, 112, 188);
}

.tweet-post {
  background-color: rgb(70, 169, 233);
}

.linkedin-post {
  background-color: rgb(50, 123, 174);
}

.first-links {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;

}

.flex-wrapper {
  display: flex;
  flex-flow: row nowrap;
  grid-area: leftone;
}

.single-chart {
  width: 34%;
  justify-content: space-around ;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 150px;
}

.circle-bg {
  fill: none;
  stroke: #d8e3eb;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 3.8;
  stroke-linecap: round;
  animation: progress 10s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.one .circle {
  stroke: #25a6f7;
}

.circular-chart.two .circle {
  stroke: #4CC790;
}

.circular-chart.blue .circle {
  stroke: #ad6bae;
}

.text-large {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}

.text-small {
 fill: #666;
 font-family: sans-serif;
 font-size: 4px;
 text-anchor: middle;
}

